.e-dialog {
    box-shadow: 0 12px 24px rgba(0 , 0 , 0, 0.1);
    position: relative;
    background: #FFF;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    max-height: 90%;
    padding: 2.75rem 3rem 0;
}