.e-dialog {
    box-shadow: 0 12px 24px rgba(0 , 0 , 0, 0.1);
    position: relative;
    background: #FFF;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    max-height: 90%;
    padding: 1rem;
    z-index: 10;
    .e-dialog-header {
        cursor: move;
    }
    .e-dialog-footer {
        display: flex;
        justify-content: flex-end;
    }
}
