.e-textInput {
    width: 200px;
    height: 28px;
    line-height: 28px;
    border: 1px $input-border-color solid;
    padding: 1px 2px;
    &:focus {
        outline: 1px $input-border-color solid;
    }
    &::placeholder {
        color: $input-placeholder-color;
    }
    &.error {
        border: 1px #F44336 solid;
    }
    &.missing {
        border: 1px #FFEB3B solid;
    }
    &[disabled] {
        color: $disabled-font-color;
        border: 1px $disabled-font-color solid;
    }
}

.e-dropdown {
    position: relative;
    width: 205px;
    .e-dropdownItem {
        border: 1px $input-border-color solid;
        background: white;
        height: 28px;
        line-height: 28px;
        width: 204px;
        cursor: default;
        &.none {
            border: none;
            height: inherit;
            line-height: inherit;
        }
        &:hover:not(.current) {
            background:#CCC;
        }
        &[data-selected="true"]:not(.current) {
            background: #CCC;
        }
    }
    .e-placeholder {
        color: $input-placeholder-color;
    }
    .e-dropdownWrapper {
        position: absolute;
        left: 0;
    }
    &[disabled] {
        color: $disabled-font-color;
        border: 1px $disabled-font-color solid;
        pointer-events: 'none';
    }
}
