.e-textInput {
    width: 200px;
    height: 22px;
    line-height: 22px;
    padding: 5px;
    border: 1px #CCC solid;
    &:focus {
        border: 1px #06C solid;
        outline: none;
    }
    &::placeholder {
        color: #999;
    }
    &.error {
        border: 1px #C30 solid;
    }
    &.missing {
        border: 1px rgb(231, 231, 6) solid;
    }
    position: relative;
    &:after {
        content: '1';
        position: absolute;
        left: 0;
        top:0
    }
}