body {
    .hide {
        display: none !important;
    }

    .loading {
        background: url(../images/loading.svg) no-repeat center;
    }

    footer {
        small {
            color: gray;
            font-size: 11px;
        }
    }
}
