@import 'loading';
.hidden {
    display: none !important;
}
body {
    a {
        color: #06C;
        text-decoration: underline;
        background: red;
    }

    footer {
        small {
            color: gray;
            font-size: 11px;
        }
    }
}
