// component
.e-borderContainer {
    display: flex;
    height: 100vh;
}

// component
.e-pane {
    height: 100vh;
    position: relative;
    background: #FFF;
    &.leftPane {
        background: #585758;
    }
    &.rightPane {
        width: 100%;
        background: gray;
    }
}

@include mobile-only {
    .e-pane {
        
    }
}

// component
.e-splitter {
    position: absolute;
    background: #F7F7F7;
    &:after {
        content: "";
        width: 1px;
        height: 20px;
        position: absolute;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    &.horizontal {
        width: 100%;
        height: 10px;
        bottom: 0;
        left: 0;
        cursor: row-resize;
        &:after {
            transform: rotate(270deg);
            left: 50%;
            top: -5px;
        }
    }
    &.vertical {
        right: 0;
        top: 0;
        height: 100%;
        width: 10px;
        cursor: col-resize;
        &:after {
            left: 3.5px;
            top: 50%;
        }
    }
    &.disabled {
        cursor: not-allowed;
        &:hover {
            border-color: transparent;
        }
    }
}

// component
.e-treeView {
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul {
        margin: 10px;
        & > li {
            margin-bottom: 10px;
            padding-left: 20px;
        }
    }
    li {
        a:link, a:visited{
            text-decoration: none;
            display: block;
            color: #FFF;
        }
        &.focused {
            font-weight: 700;
        }
    }
}

// component
.e-contentPane {
    height: 100%;
    width: 100%;
}
