.e-dialog {
    box-shadow: 0 12px 24px rgba(0 , 0 , 0, 0.1);
    position: relative;
    background: #FFF;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    max-height: 90%;
    padding: 1rem;
    z-index: 10;
    .e-dialog-header {
        cursor: move;
    }
    .e-dialog-footer {
        display: flex;
        justify-content: flex-end;
    }
}

.e-windowMemoryViewer {
    span.label {
        font-weight: 700;
        font-size: 12px;
        margin-right: 5px;
    }
    span {
        display: inline-block;
        margin-right: 10px;
    }
}

.e-tooltip {
    background: #06c;
    color: #FFF;
    overflow-y: auto;
}


[data-tooltip] {
    position: relative;

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 0;
        top:0;
        background: #fff;
        border: 1px solid #CCC;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    &[data-tooltip-show="yes"] {
        &::after {
            opacity: 1;
        }
    }

    &[data-tooltip-show="no"] {
        &::after {
            opacity: 0;
        }
    }
}