.e-windowMemoryViewer {
    span.label {
        font-weight: 700;
        font-size: 12px;
        margin-right: 5px;
    }
    span {
        display: inline-block;
        margin-right: 10px;
    }
}