.e-dialog {
    box-shadow: 0 12px 24px rgba(0 , 0 , 0, 0.1);
    position: relative;
    background: white;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    max-height: 90%;
    padding: 1rem;
    z-index: 10;
    @include mobile-only {
        min-width: 200px;
    }
    .e-dialog-header {
        cursor: move;
    }
    .e-dialog-footer {
        display: flex;
        justify-content: flex-end;
    }
}

.e-windowMemoryViewer {
    span.label {
        font-weight: 700;
        font-size: 12px;
        margin-right: 5px;
    }
    span {
        display: inline-block;
        margin-right: 10px;
    }
}

.e-tooltip {
    background: color('yellow', 50);
    color: $font-color;
    font-size: 12px;
    overflow-y: auto;
    &.error {
        background: color('pink', 'A400');
        color: white;
    }
}